:root {
    --color-background: #f4f4f4;
    --color-text: #333;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: Arial, sans-serif;
}

.buttons-right {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al extremo derecho */
    align-items: center; /* Opcional, centra verticalmente */
    padding-top: 2%;
    margin-right: 3%;
    gap: 7px;
}

/* Estilos personalizados para el botón de LinkedIn */
.btn-linkedin {
    width: 47px; /* Ajusta el ancho del botón */
    height: 47px; /* Ajusta la altura del botón */
    border-radius: 50%; /* Forma circular */
    background-color: #0077B5; /* Azul característico de LinkedIn */
    border: none; /* Sin borde */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: transform 0.2s ease; /* Animación para hover */
}

.btn-linkedin:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

.btn-whatsapp {
    width: 47px; /* Ajusta el ancho del botón */
    height: 47px; /* Ajusta la altura del botón */
    border-radius: 50%; /* Forma circular */
    background-color: #0ebc59; /* Azul característico de LinkedIn */
    border: none; /* Sin borde */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: transform 0.2s ease; /* Animación para hover */
}

.btn-whatsapp:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

button.btn-dark {
    width: 47px; /* Ajusta el ancho del botón */
    height: 47px; /* Ajusta la altura del botón */
    border-radius: 50%; /* Forma circular */
    background-color: #0d6efd;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button.btn-dark:hover {
    background-color: #147afe;
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.justify-text {
    padding: 3%;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.vfotoPerfil {
    flex: 1;
}

.vfotoPerfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.sdatosPersonales {
    flex: 3;
    padding-left: 20px;
}

.sdatosPersonales h1 {
    margin: 0;
    font-size: 2em;
}

.sdatosPersonales h2 {
    margin: 0;
    color: #666;
    font-weight: normal;
}

.sdatosPersonales p {
    margin: 5px 0;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
}

section h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    cursor: pointer; /* Agregar cursor pointer para indicar que es interactivo */
}

.resumen-title {
    padding-left: 2%;
    padding-bottom: 2%;
}

.accordion-button {
    text-align: left;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.accordion-button:hover {
    background-color: #f0f0f0;
}

.accordion-body {
    border-top: 2px solid #ddd;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #1F2122 !important;
    color: white !important;
}

/* Asegura que los acordeones también tengan el fondo oscuro y letras blancas */
.dark-mode .accordion-button {
    background-color: #444 !important;
    color: white !important;
}

.dark-mode .accordion-button:hover {
    background-color: #bbabab55 !important;
}

.dark-mode .accordion-button:focus {
    box-shadow: none !important;
    background-color: #555 !important;
}

.dark-mode .accordion-body {
    background-color: #1F2122 !important;
    color: white !important;
}

/* Opcional: para cambiar la flecha del acordeón en modo oscuro */
.dark-mode .accordion-button::after {
    filter: invert(1); /* Esto invertirá la flecha */
}
